.file-box.edit-file
  .breadcrumb
    Editing
    = render_path_breadcumb
  = form_tag repo_update_file_path(repo: params[:repo], ref: params[:ref], path: params[:path]), class: 'edit-blob-form js-blob-form' do
    .file.js-code-editor.container-preview.show-code
      .commit-create
        = text_area_tag :content, @blob.content.force_encoding('UTF-8'), id: 'blob_contents', class: 'file-editor-textarea js-blob-contents js-code-textarea', autofocus: true, rows: 35
    .commit-message-box
      %h3.file-commit-form-heading Commit changes
      = text_area_tag :message, nil, class: 'input-block input-contrast', placeholder: "Update #{File.basename(params[:path])}", rows: 2
    = submit_tag 'Commit Changes', class: 'button primary js-blob-submit', disabled: true, id: 'submit-btn'
    = link_to 'Cancel', repo_blob_path(repo: params[:repo], ref: params[:ref], path: params[:path]), class: 'button danger cancel'

= javascript_include_tag 'ace-min/ace.js', 'data-turbolinks-track' => false

:javascript
  var bla;
  $(function(){
    var textArea = $("#blob_contents").hide(),
        originalContent = textArea.val(),
        editorContainer = $('<div class="ace-github-light"></div>').insertAfter(textArea).css({width: '100%', height: '500px'}),
        commitForm = $('form.edit-blob-form'),
        submitBtn = $('#submit-btn', commitForm),
        messageBox = $("#message", commitForm);
      // setup ace eidtor
      var editor = ace.edit(editorContainer[0]);
      bla = editor;
      editor.$blockScrolling = Infinity;
      editor.setTheme("ace/theme/github");
      editor.getSession().setMode("ace/mode/#{Linguist.new(params[:path]).language.ace_mode}");
      editor.getSession().setValue(originalContent);
      // 更新提交按钮状态
      editor.on('change',function(){
        if (editor.getSession().getValue() == originalContent){
          submitBtn.attr("disabled", true);
        } else {
          submitBtn.attr("disabled", false);
        }
      });

      commitForm.submit(function(){
        textArea.val(editor.getSession().getValue());
        var message = messageBox.val();
        if ($.trim(message) === ''){
          messageBox.val(messageBox.attr('placeholder'));
        }
      });
  });
