/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "github";
@import "github2";
@import "pygments-github";

.octicon-diff-deleted {
  @extend .octicon-diff-removed;
}
.commit-message-box {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.ace-github-light .ace_gutter {
  background: #ffffff !important;
  color: #999999;
}
.ace_marker-layer .ace_active-line {
  background: #f5f5f5 !important;
}
.ace-github-light .ace_gutter-active-line {
  background-color: #f5f5f5 !important;
}
