!!! 5
%html
  %head
    %title GitWeb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wraper
      #site
        .pagehead.repohead.instapaper_ignore.readability-menu
          .container
            %h1.entry-title.public
              %span.mega-octicon.octicon-repo
              = link_to 'Repositories', root_path
              - if @repo
                %span.path-divider /
                = link_to @repo.name, repo_path(repo: @repo.name)
        .container
          = yield
        .site-footer
          .container
            /= debug params